<div class="content">
    <h1 class="content-title mb-5">
        Доходы
    </h1>

    <div class="cards">
        <div class="card">
            <div class="card-title">
                Депозиты
            </div>
            <div class="card-actions ">
                <button class="btn btn-primary button">
                    Редактировать
                </button>
                <button class="btn btn-danger button">
                    Удалить
                </button>
            </div>
        </div>
        <div class="card">
            <div class="card-title">
                Зарплата
            </div>
            <div class="card-actions ">
                <button class="btn btn-primary button">
                    Редактировать
                </button>
                <button class="btn btn-danger button">
                    Удалить
                </button>
            </div>
        </div>
        <div class="card">
            <div class="card-title">
                Сбережения
            </div>
            <div class="card-actions ">
                <button class="btn btn-primary button">
                    Редактировать
                </button>
                <button class="btn btn-danger button">
                    Удалить
                </button>
            </div>
        </div>
        <div class="card">
            <div class="card-title">
                Инвестиции
            </div>
            <div class="card-actions ">
                <button class="btn btn-primary button">
                    Редактировать
                </button>
                <button class="btn btn-danger button">
                    Удалить
                </button>
            </div>
        </div>
        <div class="card add-card">
            +
        </div>
    </div>

</div>
