<h1 class="content-title mb-5">
    Главная
</h1>

<div class="buttons">
    <button class="btn button">
        Сегодня
    </button>
    <button class="btn button">
        Неделя
    </button>
    <button class="btn button">
        Месяц
    </button>
    <button class="btn button">
        Год
    </button>
    <button class="btn button">
        Все
    </button>
    <button class="btn button">
        Интервал
    </button>
    <div class="dates">
        <span>c</span> <a href="">Дата</a> <span>по</span> <a href="">Дата</a>
    </div>

</div>

<div class="charts">
    <div class="chart-item incomes">
        <div class="card-title">
            Доходы
        </div>
        <canvas id="income-chart"></canvas>
    </div>

    <div class="line">

    </div>
    <div class="chart-item expenses">
        <div class="card-title">
            Расходы
        </div>
        <canvas id="expenses-chart"></canvas>
    </div>
</div>


