<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/common.css">
</head>
<body>

<div class="popup">
    <div class="popup-body">
        <div class="popup-content">
            <p>
                Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.
            </p>
            <div class="popup-actions">
                <button class="btn btn-success">Да, удалить</button>
                <button class="btn btn-danger">Не удалять</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>